{{ form_start(form) }}
<div class="btn btn-dark btn-block">
    {{ form_widget(form) }}
</div>
    <button class="btn btn-success btn-block">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
